*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

body{
    background: linear-gradient(45deg, #ffa799, #C5DDE8, #fff599);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type : none;
    padding: 0;
}

button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

input{
    outline: none;
}

.dialog{
    width: 320px;
    height: 533px;
}

.container{
    padding: 8px;
    max-width: 320px;
    border: 3px solid #fa788e;
    border-radius: 5px;
}

.dialog__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.dialog__btn-settings,
.dialog__btn-exit{
    padding: 7px;
    border: 1px solid #000000;
}

.dialog__message-box{
    height: 437px;
    overflow: scroll;
}

.dialog__message-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.dialog__message{
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-width: 272px;
}

.dialog__message + .dialog__message{
    margin-top: 8px;
}

.dialog__delivered_message{
    background-color: #E5E5E5;
}

.dialog__send_message{
    background-color: #F6F6F6;
}

.dialog__message-time{
    align-self: flex-end;
    margin-top: 4px;
    font-style: italic;
    font-weight: 300;
}

.dialog__personal_message{
    align-self: flex-end;
}

.dialog__someone_message{
    align-self: flex-start;
}

.dialog__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dialog__message-input{
    width: 257px;
    padding: 7px;
    height: 32px;
    background-color: inherit;
    border: 1px solid #000;
    outline: none;
}

.dialog__message-submit{
    width: 29px;
    height: 32px;
    border: 1px solid #000;
}

.dialog__message-box{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 8px;
}

.dialog__message-box::-webkit-scrollbar{width: 0! important}

.settings{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.settings-container{
    background: linear-gradient(45deg, #ffa799, #C5DDE8, #fff599);
    padding: 14px;
    width: 273px;
    height: 319px;
    border: 3px solid #fa788e;
    border-radius: 5px;
}

.settings__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.settings__close{
    width: 16px;
    height: 16px;
    background-image: url("./img/close-icon.svg");
    background-position: center;
}

.settings__bottom{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.settings__input{
    width: 197px;
    padding: 5px;
}

.settings__submit{
    width: 30px;
    height: 32px;
    border: 1px solid #000;
}

.settings__text{
    opacity: 100%;
}